.button {
  display: block;
  width: 100%;
  max-width: 303px;
  padding-top: 9px;
  padding-bottom: 11px;
  background-color: $brand-second-color;
  color: $text-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
