.cruise-description {
  position: relative;
  color: $brand-second-color;
}

.cruise-description__list {
  @include list-reset();
}

.cruise-description__title {
  margin: 0;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruise-description__text {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(216, 216, 217);
}
