.cruises {
  @include container();
  padding-top: 120px;
  padding-bottom: 120px;
}

.cruises__title {
  margin: 0;
  margin-top: -11px;
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}

.cruises__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
}
