.menu-close {
  display: none;

  @media (max-width: $mobile-width-max) {
    display: block;
    margin-left: auto;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image: url("../img/cross-icon.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
}

.menu-close--hide {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}
