// Breakpoints
$desktop-width-max: 1366px;
$desktop-width-min: 1024px;
$tablet-width-max: 1023px;
$tablet-width-min: 768px;
$mobile-width-max: 767px;
$mobile-width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Font
$text-font-family: "Montserrat", "Arial", sans-serif;

// general font sizings
$small-font-size: 10px;
$smaller-font-size: 14px;
$regular-font-size: 16px;
$larger-font-size: 18px;

$title4-font-size: $larger-font-size;

// desktop font sizings
$title1-desktop-font-size: 54px;
$title2-desktop-font-size: 40px;
$title3-desktop-font-size: 28px;

// tablet font sizings
$title1-tablet-font-size: 50px;
$title2-tablet-font-size: 34px;
$title3-tablet-font-size: 26px;

// mobile font sizings
$title1-mobile-font-size: 36px;
$title2-mobile-font-size: 24px;
$title3-mobile-font-size: 24px;

// Colors
$hover-lightness-shift: 20%;
$active-lightness-shift: -20%;

$brand-color: rgba(1, 28, 64, 1); // #011C40
$hover-brand-color: scale-color($brand-color, $lightness: $hover-lightness-shift);
$active-brand-color: scale-color($brand-color, $lightness: $active-lightness-shift);

$white: rgba(255, 255, 255, 1);
$light: rgba(249, 251, 253, 1); // #F9FBFD
$hover-light: scale-color($light, $lightness: $hover-lightness-shift);
$active-light: scale-color($light, $lightness: $active-lightness-shift);

$text-color: $brand-color;
$text-light-color: $light;

// Hover state colors
$hover-lightness-shift: -20%;

$hover-brand-color: scale-color($brand-color, $lightness: $hover-lightness-shift);

$hover-light: scale-color($light, $lightness: $hover-lightness-shift);

$hover-text-color: $hover-brand-color;
$hover-text-light-color: $hover-light;

// Active state colors
$active-lightness-shift: 20%;

$active-brand-color: scale-color($brand-color, $lightness: $active-lightness-shift);

$active-light: scale-color($light, $lightness: $active-lightness-shift);

$active-text-color: $active-brand-color;
$active-text-light-color: $active-light;

// Sizes
$desktop-external-paddings: 103px;
$tablet-external-paddings: 45px;
$mobile-external-paddings: 15px;
